<div class="form-head"> Color </div>
<div class="error-message" id="error-field">.</div>
<form id="formPart" class="input-part">
     <div class="input-container">
        <label>Background 1:</label>
        <input type="color" id="darkback" value="{{darkback}}"> 
    </div> 
     <div class="input-container">
        <label>Background 2:</label>
        <input type="color" id="mediumback" value="{{mediumback}}"> 
    </div> 
     <div class="input-container">
        <label>Background 3:</label>
        <input type="color" id="lightback" value="{{lightback}}"> 
    </div> 
     <div class="input-container">
        <label>Font 1:</label>
        <input type="color" id="darkfont" value="{{darkfont}}"> 
    </div> 
     <div class="input-container">
        <label>Font 2:</label>
        <input type="color" id="lightfont" value="{{lightfont}}"> 
    </div> 
     <div class="input-container">
        <label>Text Font:</label>
        <input type="color" id="textfont" value="{{textfont}}"> 
    </div> 
     <div class="input-container">
        <label>Apostrophe:</label>
        <input type="color" id="apostrophe" value="{{apostrophe}}"> 
    </div> 
    <button class="transback submit-button" id="save-button">Save</button>
    
</form>