<div class="form-head"> Home </div>
<div class="error-message" id="error-field">.</div>
<form id="formPart" class="input-part">
     <div class="input-container">
        <label>Name:</label>
        <input type="text" id="name" placeholder="Name for Display" value="{{name}}"> 
    </div> 
    <div class="input-container">
        <label>Description 1: </label>
        <input type="text" id="desc1" placeholder="Description 1" value="{{desc1}}"> 
    </div>
     <div class="input-container">
        <label>Description 2: </label>
        <input type="text" id="desc2" placeholder="Description 2" value="{{desc2}}"> 
    </div>
     <div class="input-container">
        <label>Linkedin: </label>
        <input type="url" id="linkedin" placeholder="Linkedin Username" value="{{linkedin}}"> 
    </div>
     <div class="input-container">
        <label>Github: </label>
        <input type="url" id="github" placeholder="Github Username" value="{{github}}"> 
    </div>
     <div class="input-container">
        <label>Facebook: </label>
        <input type="url" id="facebook" placeholder="Facebook Username" value="{{facebook}}"> 
    </div>
     <div class="input-container">
        <label>Instagram: </label>
        <input type="url" id="instagram" placeholder="Instagram Username" value="{{instagram}}"> 
    </div>
     <div class="input-container">
        <label>Twitter: </label>
        <input type="url" id="twitter" placeholder="Twitter Username" value="{{twitter}}"> 
    </div>
    <button class="transback submit-button" id="save-button">Save</button>
    
</form>