<div class="form-head"> Home </div>
<div class="error-message" id="error-field">.</div>
<form id="formPart" class="input-part">


    <div class="input-head">Project 1</div>
     <div class="input-container">  
        <label>Title:</label>
        <input type="text" id="ptitle1" placeholder="Title of Project" value="{{ptitle1}}"> 
    </div> 
    <div class="input-container">
        <label>Description: </label> 
        <textarea rows = "5" id="pdesc1" name = "description">{{pdesc1}}</textarea><br>
    </div>
     <div class="input-container">
        <label>Github Link: </label>
        <input type="url" id="purl1" placeholder="Project Github Link" value="{{purl1}}"> 
    </div>


    <div class="input-head">Project 2</div>
     <div class="input-container">  
        <label>Title:</label>
        <input type="text" id="ptitle2" placeholder="Title of Project" value="{{ptitle2}}"> 
    </div> 
    <div class="input-container">
        <label>Description: </label>
        <textarea rows = "5" id="pdesc2" name = "description">{{pdesc2}}</textarea><br>
    </div>
     <div class="input-container">
        <label>Github Link: </label>
        <input type="url" id="purl2" placeholder="Project Github Link" value="{{purl2}}"> 
    </div>


    <div class="input-head">Project 3</div>
     <div class="input-container">  
        <label>Title:</label>
        <input type="text" id="ptitle3" placeholder="Title of Project" value="{{ptitle3}}"> 
    </div> 
    <div class="input-container">
        <label>Description: </label>
        <textarea rows = "5" id="pdesc3" name = "description">{{pdesc3}}</textarea><br>
    </div>
     <div class="input-container">
        <label>Github Link: </label>
        <input type="url" id="purl3" placeholder="Project Github Link" value="{{purl3}}"> 
    </div>
    <button class="transback submit-button" id="save-button">Save</button>
    
</form>